body {
    padding-top: 10px;
    background-color: lightgray;
    height: 100%;
  }
p {
    text-align: center;
    font-size: 30px;
}
span{
    font-size: 40px;
}
.divpadreboton{
    display: flex;
    height: 500px;
}
.divpuntuacionpadre{
    padding-top: 19%;
    /*border: 3px solid red;*/
}

/*.divpuntuacion1{
    /*border: 3px solid red;*/
/*}

.divpuntuacion2{
    /*border: 3px solid red;*/
/*}
.divpuntuacion3{
    /*border: 3px solid red;*/
/*}
*/
.divboton{
    flex: 1;
    text-align: center;
    border: 3px solid gray;
    flex-basis: 80%;
    padding: 10px;

}
.divboton2{
    border: 3px solid gray;
    flex: 1;
    flex-basis: 20%;
    padding: 10px;
    
    
}

.boton{
    width: 100%;
    height: 100%;
    font-size: 25px;
}