body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
  }
  #primer-div {
    height: 44.9%;
    background-color: lightblue;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #primer-div .caja {
    width: 14,9%;
    height: 14,9%;
    border: 2px solid black;
    margin: 1.50%;
  }
  #segundo-div {
    height: 44.9%;
    background-color: lightgreen;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #segundo-div .caja {
    width: 14,9%;
    height: 14,9%;
    border: 2px solid black;
    margin: 1.50%;
  }
  #tercer-div {
    height: 50vh;
    background-color: lightgray;
    display: flex;
    align-self: flex-end;
    align-items: center;
  }
  #tercer-div #contador {
    font-size: 30px;
    margin-bottom: 20px;
  }
  #tercer-div button {
    font-size: 20px;
    background-color: darkorange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    
  }
